// Control Panel Styling
@use "../../variables" as *;

window.control-panel-window {
    all: unset;
    background: transparent;
    padding: $spacing-lg;

}

box.ControlPanel {
    font-family: $font-family-primary;
    background-color: $bg-secondary;
    border-radius: $radius-lg;
    border: $border-width solid $border-tertiary;
    min-width: 300px;
    padding: $spacing-md;
    margin: $spacing-md;

    box.notification-center-container{
        border: none;
        border-radius: $radius-md;
        background-color: $bg-tertiary;
        min-width: 300px;
    }
    box.notification-section{
        margin: 0;
        padding: 0;
        border-radius: $radius-md;
        min-width: 300px;
        border: none;

        .notification-container {
            border: none
        }

    }
    box.audio-section{
        margin: 0;
        padding: $spacing-md;
        background-color: $bg-tertiary;
        border-radius: $radius-md;
    }
} 